<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../tf-imports/plottable.html">
<link rel="import" href="../tf-imports/lodash.html">

<!--
tf-line-chart (TFChart) creates an element that draws a line chart for
displaying event values.

It has the following settable properties:
- xType: (required, string) - the way to display x values - allows "step" or
    "wall_time"
- colorScale: (required, Plottable.Scales.Color) - maps from series names to
    colors: (required, function) - allows the chart to modify tooltips
- smoothingDecay: (number) - decay (between 0.0 and 1.0) of the exponential
    smoothing. Defaults to 0.9.
- smoothingEnabled: (boolean) - Whether exponential smoothing is or not enabled.
    Defaults to false.

It exposes the following methods:
- setVisibleSeries(): (string[]) - changes the series used in the chart
- setSeriesData(): (string, TF.Backend.ScalarDatum[]) - sets the data of one
    series
  redraw() - re-renders the chart (useful if e.g. container size changed)

The data is expected to be an array of [wall_time, step, value] arrays.
The wall_time is serialized as seconds since epoch.
-->
<dom-module id="tf-line-chart">
  <template>
    <svg id="chartsvg"></svg>
    <div id="tooltip">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Value</th>
            <th>Step</th>
            <th>Time</th>
            <th>Relative</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <style>
      :host {
        -webkit-user-select: none;
        -moz-user-select: none;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;
      }
      svg {
        -webkit-user-select: none;
        -moz-user-select: none;
        flex-grow: 1;
        flex-shrink: 1;
      }
      td {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
        opacity: 1;
      }
      #tooltip {
        pointer-events: none;
        position: absolute;
        opacity: 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        border-radius: 4px;
        line-height: 1.4em;
        padding: 8px;
        z-index: 5;
        cursor: none;
      }
      .swatch {
        border-radius: 50%;
        width: 14px;
        height: 14px;
        display: block;
        border: 2px solid rgba(0,0,0,0);
      }
      .closest .swatch {
        border: 2px solid white;
      }
      th {
        padding-left: 5px;
        padding-right: 5px;
        text-align: left;
      }
      .distant td {
        opacity: 0.8;
      }

      .distant td.swatch {
        opacity: 1;
      }

      .ghost {
        opacity: 0.2;
        stroke-width: 1px;
      }

    </style>
  </template>
  <script src="dragZoomInteraction.js"></script>
  <script src="tf-line-chart.js"></script>
  <script src="tf-chart-helpers.js"></script>
  <script>
    Polymer({
      is: "tf-line-chart",
      properties: {
        colorScale: Object,
        smoothingDecay: {
          type: Number,
          value: 0.9
        },
        smoothingEnabled: {
          type: Boolean,
          value: false
        },
        xType: String,
        _attached: Boolean,
        _chart: Object,
        _visibleSeriesCache: {
          type: Array,
          value: function() { return [] }
        },
        _seriesDataCache: {
          type: Object,
          value: function() { return {} }
        }
      },
      observers: [
        "_makeChart(xType, colorScale, _attached)",
        "_reloadFromCache(_chart)",
        "_smoothingChanged(smoothingDecay, smoothingEnabled, _chart)"
      ],
      attached: function() {
        this._attached = true;
      },
      detached: function() {
        this._attached = false;
      },
      setVisibleSeries: function(names) {
        this._visibleSeriesCache = names;
        if (this._chart) {
          this._chart.setVisibleSeries(names);
          this.redraw();
        }
      },
      setSeriesData: function(name, data) {
        this._seriesDataCache[name] = data;
        if (this._chart) {
          this._chart.setSeriesData(name, data);
        }
      },
      redraw: function() {
        this._chart.redraw();
      },
      _makeChart: function(xType, colorScale, _attached) {
        if(!this._attached) {
          return;
        }

        if (this._chart) this._chart.destroy();
        var tooltip = d3.select(this.$.tooltip);
        this.scopeSubtree(this.$.tooltip, true);
        var chart = new TF.LineChart(xType, colorScale, tooltip);
        var svg = d3.select(this.$.chartsvg);
        this.async(function() {
          chart.renderTo(svg);
          this.scopeSubtree(this.$.chartsvg, true);
          this._chart = chart;
        }, 350);
      },
      _reloadFromCache: function() {
        if(this._chart) {
          this._chart.setVisibleSeries(this._visibleSeriesCache);
          this._visibleSeriesCache.forEach(function(name) {
            this._chart.setSeriesData(name, this._seriesDataCache[name] || []);
          }.bind(this));
        }
      },
      _smoothingChanged: function() {
        if(!this._chart) {
          return;
        }
        if(this.smoothingEnabled) {
          this._chart.smoothingUpdate(this.smoothingDecay);
        }
        else {
          this._chart.smoothingDisable();
        }
      }
    });
  </script>
</dom-module>
