<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../tf-imports/lodash.html">
<link rel="import" href="../tf-dashboard-common/scrollbar-style.html">
<link rel="import" href="../tf-multi-checkbox/tf-multi-checkbox.html">

<!--
tf-run-selector creates a set of checkboxes to display which runs are selected.
It also displays tooltips.

Properties in:
- runs: Array of strings representing the runs that may be selected
- colorScale: a TF.ColorScale mapping run names to colors

Properties out:
- outSelected: The array of run names that are currently checked by the user.

-->
<dom-module id="tf-run-selector">
  <template>
    <div id="top-text">
      <h3 id="tooltip-help" class="tooltip-container">
        Runs
      </h3>
    </div>
    <tf-multi-checkbox
      id="multiCheckbox"
      names="[[runs]]"
      out-selected="{{outSelected}}"
      color-scale="[[colorScale]]"
    ></tf-multi-checkbox>
    <paper-button
      class="x-button"
      id="toggle-all"
      on-tap="_toggleAll"
    >
    Toggle All Runs
    </paper-button>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        box-sizing: border-box;
      }
      #top-text {
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 16px;
        padding-bottom: 6px;
        box-sizing: border-box;
        color: var(--paper-grey-800);
      }
      tf-multi-checkbox {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
      }
      .x-button {
        font-size: 13px;
        background-color: var(--tb-ui-light-accent);
        margin-top: 5px;
        color: var(--tb-ui-dark-accent);
      }
      #tooltip-help {
        color: var(--paper-grey-800);
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 5px;
      }
      paper-button {
        margin-left: 0;
      }
    </style>
  </template>
  <script>
  Polymer({
    is: "tf-run-selector",
    properties: {
      outSelected: {type: Array, notify: true},
      // runs: an array of strings, representing the run names that may be chosen
      runs: Array,
      colorScale: Object, // TF.ColorScale
    },
    _toggleAll: function() {
      this.$.multiCheckbox.toggleAll();
    },
  });
  </script>
</dom-module>
