<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-slider/paper-slider.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<!--
tf-smoothing-input creates an input component for exponential smoothing.
-->
<dom-module id="tf-smoothing-input">
  <template>
    <div class="smoothing-line">
      <paper-checkbox
        checked="{{enabled}}"
        >Smoothing</paper-checkbox>
      <div class="smoothing-block">
        <paper-slider
          value="{{weight}}"
          immediate-value="{{_immediateWeightNumberForPaperSlider}}"
          type="number"
          step="[[step]]"
          min="[[min]]"
          max="[[max]]"
          disabled="[[!enabled]]"
          ></paper-slider>
        <paper-input
          id="input"
          label="weight"
          no-label-float
          value="{{_inputWeightStringForPaperInput}}"
          type="number"
          step="[[step]]"
          min="[[min]]"
          max="[[max]]"
          disabled="[[!enabled]]"
          ></paper-input>
      </div>
    </div>
    <style>
      .smoothing-line {
        margin-top: 15px;
      }

      .smoothing-block {
        display: flex;
      }

      paper-checkbox {
        --paper-checkbox-checked-color: var(--tb-ui-dark-accent);
        --paper-checkbox-unchecked-color: var(--tb-ui-dark-accent);
        font-size: 14px;
      }

      paper-slider {
        margin-left: 12px;
        --paper-slider-knob-color: var(--tb-orange-strong);
        --paper-slider-active-color: var(--tb-orange-strong);
        flex-grow: 2;
      }

      paper-input {
        --paper-input-container-focus-color: var(--tb-orange-strong);
        --paper-input-container-input: {
          font-size: 14px;
        };
        --paper-input-container-label: {
          font-size: 14px;
        };
        width: 60px;
      }
    </style>
  </template>
  <script>
    Polymer({
      is: "tf-smoothing-input",

      properties: {
        enabled: {
          type: Boolean,
          value: false,
          notify: true,
          observer: '_enabledChanged'
        },

        step: Number,
        max: Number,
        min: Number,

        weight: {
          type: Number,
          value: 0.6,
          notify: true
        },

        _immediateWeightNumberForPaperSlider: {
          type: Number,
          notify: true,
          observer: '_immediateWeightNumberForPaperSliderChanged'
        },

        // Paper input treats values as strings even if you specify them as
        // numbers.
        _inputWeightStringForPaperInput: {
          type: String,
          notify: true,
          observer: '_inputWeightStringForPaperInputChanged'
        }
      },

      _updateWeight: _.debounce(function(val) {
        this.weight = val;
      }, 250),

      _enabledChanged: function() {
        // Workaround for paper-input bug on firefox :(
        // Element crashes if we change value while it is disabled.
        if (this.enabled) {
          this.$.input.label = '';
          this._immediateWeightNumberForPaperSliderChanged();
        }
      },

      _immediateWeightNumberForPaperSliderChanged: function() {
        if(!this.enabled) {
          return;
        }
        this._inputWeightStringForPaperInput =
            this._immediateWeightNumberForPaperSlider.toString();
        this._updateWeight.call(this, this._immediateWeightNumberForPaperSlider);
      },

      _inputWeightStringForPaperInputChanged: function() {
        if(!this.enabled) {
           return;
        }
        if (+this._inputWeightStringForPaperInput < 0) {
          this._inputWeightStringForPaperInput = '0';
        }
        else if (+this._inputWeightStringForPaperInput > 1) {
          this._inputWeightStringForPaperInput = '1';
        }

        var d = +this._inputWeightStringForPaperInput;
        if (!isNaN(d)) {
          this._updateWeight.call(this, d);
        }
      }
    });
  </script>
</dom-module>
