# Running bazel inside a `docker build` command causes trouble, cf:
#   https://github.com/bazelbuild/bazel/issues/134
# The easiest solution is to set up a bazelrc file forcing --batch.
startup --batch

# Similarly, we need to workaround sandboxing issues:
#   https://github.com/bazelbuild/bazel/issues/418
build --spawn_strategy=standalone --genrule_strategy=standalone
test --spawn_strategy=standalone

build --color=yes --verbose_failures
test --color=yes --verbose_failures --test_output=errors --test_verbose_timeout_warnings
