.DS_Store
.ipynb_checkpoints
node_modules
/bazel-bin
/bazel-ci_build-cache
/bazel-genfiles
/bazel-out
/bazel-tensorflow
/bazel-testlogs
/bazel-tf
/tensorflow/contrib/cmake/build
/tensorflow/core/util/version_info.cc
/tensorflow/tools/git/gen
/third_party/py/numpy/numpy_include
/tools/bazel.rc
/tools/python_bin_path.sh
/util/python/python_include
/util/python/python_lib
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
