StaticURLPath=static
DatabaseFolder=tf_files/us_south/leafs
RootTFFiles=tf_files
UploadFolder=tf_files/us_south/leafs
AllowedExtensions=jpg,jpeg,png,bmp
ModelPathNorth=tf_files/us_north
ModelPathEast=tf_files/us_east
ModelPathSouth=tf_files/us_south
ModelPathWest=tf_files/us_west
ModelExtension=.pb
LabelExtension=.txt
APKPath=tensorflow/examples/android/gradleBuild/outputs/apk
