<script src="../../bower_components/d3/d3.js"></script>
<script src="../../bower_components/lodash/lodash.js"></script>
<script src="../../bower_components/graphlib/dist/graphlib.core.js"></script>
<script src="../../bower_components/dagre/dist/dagre.core.js"></script>

<script src="lib/common.js"></script>
<script src="lib/graph.js"></script>
<script src="lib/parser.js"></script>
<script src="lib/hierarchy.js"></script>
<script src="lib/render.js"></script>
<script src="lib/template.js"></script>
<script src="lib/scene/scene.js"></script>
<script src="lib/scene/annotation.js"></script>
<script src="lib/scene/edge.js"></script>
<script src="lib/scene/node.js"></script>
<script src="lib/layout.js"></script>
<script src="lib/colors.js"></script>
