<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>tf-graph Demo</title>
    <!-- Libraries that should be imported in TensorBoard when the Graph visualizer ports to TensorBoard -->
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="../../es6-promise/promise.min.js"></script>
    <link rel="import" href="tf-graph-demo.html">
    <style>
      html {
        width: 100%;
        height: 100%;
      }

      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>

  <body unresolved>
    <tf-graph-demo></tf-graph-demo>
  </body>
</html>
