<!DOCTYPE html>
<html>
 <head>
   <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
   <link rel="import" href="../tf-regex-group.html">
 </head>
 <body>
  <style>
  .container {
    width: 255px;
    padding: 10px;
    border: 1px solid #3f51b5;
    border-radius: 5px;
  }
  :host {
    margin: 0px;
  }
  </style>
  <template id="page-template" is="dom-bind">
    <div class="container">
      <tf-regex-group regexes="{{regexes}}" id="demo"></tf-regex-group>
    </div>
    <p> Regexes:</p>
    <template is="dom-repeat" items="[[regexes]]">
      <p>"<span>[[item]]</span>"</p>
    </template>
  </template>
 </body>
 <script>

 </script>
</html>
