bower_components/*
node_modules/*
typings/*
build/*
dist/tf-tensorboard-demo.html

components/tf-graph/demo/tf_model_zoo/*

# Js files in the graph visualizer migrated to typescript. These files
# are produced by the compiler and should not be submitted to the repo.
components/tf-graph-common/lib/*.js
components/tf-graph-common/lib/scene/*.js
components/tf-event-dashboard/*.js
components/tf-categorizer/*.js
components/tf-dashboard-common/*.js
components/**/test/*.js
