<link rel="import" href="../paper-styles/paper-styles.html">

<dom-module id="scrollbar-style">
  <template>
    <style>
      .scrollbar::-webkit-scrollbar-track
      {
        visibility: hidden;
      }

      .scrollbar::-webkit-scrollbar
      {
        width: 10px;
      }

      .scrollbar::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
        background-color: var(--paper-grey-500);
        color: var(--paper-grey-900);
      }
      .scrollbar {
        box-sizing: border-box;
      }
    </style>
  </template>
</dom-module>
