<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">

<dom-module id="tf-collapsable-pane">
  <template>
    <button
      class="heading"
      on-tap="togglePane"
      open-button$="[[opened]]"
    >
    <span class="name">[[name]]</span>
    <span class="hackpadding"></span>
    <span class="count">
      <span>[[count]]</span>
    </span>
  </button>
    <iron-collapse opened="[[opened]]">
      <div class="content">
        <template is="dom-if" if="[[opened]]" restamp="[[restamp]]">
          <content></content>
        </template>
      </div>
    </iron-collapse>
    <style>
      :host {
        display: block;
        margin: 0 5px 1px 10px;
      }

      :host:first-of-type {
        margin-top: 20px;
      }
      
      :host:last-of-type {
        margin-bottom: 20px;
      }

      .heading {
        background-color: white;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        line-height: 1;
        box-shadow: 0 1px 5px rgba(0,0,0,0.2);
        padding: 10px 15px;
      }

      .content {
        padding: 15px;
        border: 1px solid #dedede;
        border-top: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background: white;
      }

      [open-button] {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }

      .name {
        flex-grow: 0;
      }

      .count {
        flex-grow: 0;
        float: right;
        margin-right: 5px;
        font-size: 12px;
        color: var(--paper-grey-500);
      }

      .hackpadding {
        /* An obnoxious hack, but I can't get justify-content: space-between to work */
        flex-grow: 1;
      }
    </style>
  </template>
  <script>
    Polymer({
      is: "tf-collapsable-pane",
      properties: {
        opened: {type: Boolean, value: false},
        restamp: {type: Boolean, value: true},
        name: {type: String, observer: "hide"},
        count: {type: Number},
      },
      hide: function() {
        this.opened = false;
      },
      togglePane: function() {
        this.opened = !this.opened;
      }
    });
  </script>

</dom-module>
