<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="scrollbar-style.html">
<link rel="import" href="tensorboard-color.html">
<!--
Generic layout for a dashboard.
-->
<dom-module id="tf-dashboard-layout">
  <template>
    <div id="sidebar">
      <content select=".sidebar"></content>
    </div>

    <div id="center" class="scrollbar">
      <content select=".center"></content>
    </div>
    <style include="scrollbar-style"></style>
    <style>
      #sidebar {
        width: inherit;
        height: 100%;
        overflow: ellipsis;
        flex-grow: 0;
        flex-shrink: 0;
      }

      #center {
        height: 100%;
        overflow-y: scroll;
        flex-grow: 1;
        flex-shrink: 1;
      }

      .tf-graph-dashboard #center {
        background: white;
      }

      :host {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
    </style>
  </template>
  <script>
    Polymer({
      is: "tf-dashboard-layout",
    });
  </script>
</dom-module>
