<!DOCTYPE html>
<html>
  <head>
    <script src="webcomponentsjs/webcomponents-lite.min.js"></script>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "RobotoDraft","Roboto",sans-serif;
      }
    </style>
    <script src="../app/analytics.js"></script>
    <link rel="shortcut icon" href="lib/images/favicon.png">
    <link rel="import" href="tf-tensorboard/tf-tensorboard.html">
    <title>TensorBoard</title>
  </head>
  <body>
    <tf-tensorboard></tf-tensorboard>
  </body>
</html>
