# TODO(rameshsampath): Debug Python 3.10 failures
# Dependencies only required for Windows
psutil==5.6.2
astor==0.7.1
libclang==11.1.0
colorama==0.3.9
cycler==0.10.0
jedi==0.11.1
oauth2client==4.1.2
parso==0.1.1
protobuf==3.8.0
grpcio ~= 1.41.1
# Seems to implicitly provide readline-like library, as readline by itself is
# not available for Windows.
pyreadline

