# To have reproducible builds, these dependencies should be pinned always.
# Prefer pinning to the same version as in setup.py

# NOTE: As numpy has releases that break semver guarantees and several other
# deps depend on numpy without an upper bound, we must install numpy before
# everything else.
numpy ~= 1.19.2
# Now, install the deps, as listed in setup.py
absl-py ~= 0.10
astunparse ~= 1.6.3
flatbuffers ~= 1.12.0
google_pasta ~= 0.2
h5py ~= 3.1.0
keras_preprocessing ~= 1.1.2
keras-nightly ~= 2.6.0.dev2021052700
opt_einsum ~= 3.3.0
protobuf >= 3.9.2
six ~= 1.15.0
termcolor ~= 1.1.0
typing_extensions ~= 3.7.4
wheel ~= 0.35
wrapt ~= 1.12.1
# We need to pin the gast dependency exactly
gast == 0.4.0
# Finally, install tensorboard and estimator
# Note that here we want the latest version that matches
tb-nightly ~= 2.4.0.a
tensorflow_estimator ~= 2.5.0
# Test dependencies
grpcio >= 1.37.0, < 2.0
portpicker ~= 1.3.1
scipy ~= 1.5.2

