# To have reproducible builds, these dependencies should be pinned always.
# Prefer pinning to the same version as in setup.py for now.
# This will change in the future.

absl-py ~= 0.13.0
astunparse ~= 1.6.3
flatbuffers < 2.0  # NOTE: We cannot support faltbuffers 2.0 until internal code updates
google_pasta ~= 0.2
h5py ~= 3.6.0  # NOTE: Earliest version for Python 3.10
keras_preprocessing ~= 1.1.2
numpy ~= 1.21.4  # NOTE: Earliest version for h5py in Python 3.10
opt_einsum ~= 3.3.0
protobuf ~= 3.19.3  # NOTE: Earliest version for Python 3.10
six ~= 1.16.0
termcolor ~= 1.1.0
typing_extensions ~= 3.10.0.0
wheel ~= 0.36.2
wrapt ~= 1.12.1

# We need to pin the gast dependency exactly
gast == 0.4.0

# Finally, install tensorboard and estimator and keras
# Note that here we want the latest version that matches TF major.minor version
# Note that we must use nightly here as these are used in nightly jobs
# For release jobs, we will pin these on the release branch
keras-nightly ~= 2.10.0.dev
tb-nightly ~= 2.9.0.a
tf-estimator-nightly ~= 2.10.0.dev

# Test dependencies
grpcio ~= 1.43.0  # NOTE: Earliest version for Python 3.10
portpicker ~= 1.4.0
scipy ~= 1.7.2  # NOTE: Earliest version for Python 3.10

# This is usually vendored in setuptools but ensure it gets installed in CI anyway
# No bound here, we prefer the one in setuptools
packaging
