# See https://github.com/pypa/setuptools/issues/3293
# Must happen first!
importlib-metadata > 4

-r requirements_common.txt

# Dependencies only required for Mac
certifi ~= 2020.12.5

# Test dependencies which don't exist on Windows
jax ~= 0.2.26
jaxlib ~= 0.1.75
