-r requirements_common.txt

# Dependencies only required for Ubuntu
# Needs to be addressed. Unblocked 2.4 branchcut cl/338377048
PyYAML ~= 5.4.1

# Test dependencies which don't exist on Windows
jax ~= 0.2.26
jaxlib ~= 0.1.75
