-r requirements_common_py310.txt

# Dependencies only required for Ubuntu
# Needs to be addressed. Unblocked 2.4 branchcut cl/338377048
PyYAML ~= 5.4.1

## Remove JAX dependencies until it supports Python 3.10
