<!DOCTYPE html>
<html>
  <head>
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../tf-event-dashboard.html">
    <link rel="stylesheet" type="text/css" href="../../../lib/css/global.css">
    <title>Event Dashboard Demo Demo</title>
  </head>
  <body>
    <dom-module id="x-demo">
      <template>
        <tf-event-dashboard
          id="demo"
          router="[[demoRouter]]">
        </tf-event-dashboard>
      </template>
      <script>
        Polymer({
          is: "x-demo",
          properties: {
            demoRouter: {
              type: Object,
              value: TF.Urls.demoRouter("data"),
            },
          },
        });
      </script>
    </dom-module>
    <x-demo></x-demo>
  </body>
</html>
