# For wheel verification, and uploading
auditwheel ~= 6.1.0
twine ~= 5.1.1
id
urllib3
requests

# For JAX
build ~= 1.2.2
# uv is faster than pip for installing Python packages.
uv ~= 0.5.30

# For running wheel verification script
immutabledict ~= 4.2.1