func @Atan2_elem_type(%arg0: tensor<*xelem_type>, %arg1: tensor<*xelem_type>)
    -> tensor<*xelem_type> attributes {tf_entry, llvm.emit_c_interface} {
  %0 = "tf.Atan2"(%arg0, %arg1)
    : (tensor<*xelem_type>, tensor<*xelem_type>) -> tensor<*xelem_type>
  return %0 : tensor<*xelem_type>
}
