func @Less_elem_type(%arg0: tensor<*xelem_type>, %arg1: tensor<*xelem_type>)
    -> tensor<*xi1> attributes {tf_entry, llvm.emit_c_interface} {
  %0 = "tf.Less"(%arg0, %arg1) {T = elem_type, device = ""}
    : (tensor<*xelem_type>, tensor<*xelem_type>) -> tensor<*xi1>
  return %0 : tensor<*xi1>
}
