func @real(%arg0: tensor<?xcomplex<elem_type>>) -> tensor<?xoutput_type> {
  %0 = "tf.Real"(%arg0) { }
    : (tensor<?xcomplex<elem_type>>) -> tensor<?xoutput_type>
  return %0 : tensor<?xoutput_type>
}
