func.func @Reciprocal_platform_elem_type_output_type(%arg0: tensor<*xelem_type>)
    -> tensor<*xoutput_type> attributes {tf_entry, llvm.emit_c_interface} {
  %0 = mhlo.constant dense<1> : tensor<elem_type>
  %1 = chlo.broadcast_divide %0, %arg0 : (tensor<elem_type>, tensor<*xelem_type>) -> tensor<*xelem_type>
  func.return %1 : tensor<*xoutput_type>
}
