# These requirements are for running CI/CD setup-related scripts.
# For updating requirements for building Tensorflow, see
# https://github.com/tensorflow/tensorflow/blob/master/ci/official/requirements_updater/README.md
#
# See format definitions here: https://www.python.org/dev/peps/pep-0440/#version-specifiers
portpicker ~= 1.6.0
# For wheel verification, and uploading
auditwheel ~= 5.4.0
twine ~= 4.0.2
# For user tool scripts
junitparser ~= 2.2.0
lxml ~= 4.9.1
pylint ~= 2.13.9
