include LICENSE
include README
recursive-include * *.py
recursive-include * *.pyd
recursive-include * *.pd
recursive-include * *.so
recursive-include * *.so.[0-9]
recursive-include * *.dylib
recursive-include * *.dll
recursive-include * *.lib
recursive-include * *.csv
recursive-include tensorflow_core/include/tensorflow *.h
recursive-include tensorflow_core/include/Eigen *
recursive-include tensorflow_core/include/absl *
recursive-include tensorflow_core/include/external *
recursive-include tensorflow_core/include/google *.h
recursive-include tensorflow_core/include/google *.inc
recursive-include tensorflow_core/include/include *.h
recursive-include tensorflow_core/include/third_party *
recursive-include tensorflow_core/include/unsupported *
