&i2c0 {
	label = "I2C0";
	reg = <0xe0003000 0x4 0xe0003004 0x4>;

	adxl@1d {
		compatible = "adi,adxl345";
		label = "accel-0";
		reg = <0x1d>;
	};

};

&pwm0 {
	status = "disabled";
};

&eth0 {
	status = "disabled";
};

&prbs0 {
	status = "disabled";
};
