.version-pop:hover ul {
  visibility: visible;
}
.note:before, .info:before, .warning:before, .danger:before, .newinxc:before,
.note-before, .info-before, .warning-before, .danger-before, .newinxc-before {
  position:relative;
  left:0;
  margin-left:0;
}
span.icon {
  position:relative;
  left:0;
  float:left;
  margin-right:5px;
}

#content-h1 {
  margin-top:30px !important;
}
#share-header {
  margin-top:-4.2em;
}