#accountid {
  position:absolute;
  z-index:999;
  top:0;
  right:0;
  width:72px;
}
#accountmenu, #accountlogin {
  top:15px;
  overflow:hidden;
  width:194px;
}
#welcome {
  display:inline-block;
}
#body {
  max-width: 652px;
  float: none;
  margin: 0 auto;
  display: block;
  overflow:hidden !important;
  width:auto !important;
}

h2.menu img {
  margin-top:-28px;
}

h2.menu span, h3.menu span {
  margin-top:-1em;
}
/* width auto broken on ie 7, set to fixed width */
.signinbutton {
  width:75px;
}
.searchform #search_box {
  margin:0;
  background: none !important;
  background-color: transparent !important;
  border: none !important;
}
.searchform .searchbox form {
  margin-right: 0;
  margin-top: 0;
  border: 1px solid #BCBBBB;
  background-color: white;
  float: right;
  height: 21px;
  width: 156px;
}
#search-theme-form {
  margin-top:0;
  background-image: none;
}
label.checkbox, .captcha {
  clear:both;
  display:block;
}
#node-header {
  height:22px;
  z-index:2;
}
#node-header .version-pop ul {
  margin-top: 0px !important;
}
#node-header #series-version .version-pop ul li {
  width:100% !important;
}

#content .content {
  /*
  padding-left:110px;
  max-width:550px;*/
  float:left;
  margin:0 auto;
  clear:both;
}
#content .content > h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  /*
  margin-left:-110px !important;
  padding-right:150px;*/
  border-bottom: 1px solid #ccc;
  margin-bottom: 7px;
  color:#444;
}
#content .content table.ebnf{
  margin:2px 0 2px 50px;
}
#search_box {
  margin:0 !important;
  padding-right:8px !important;
}
#account {
  margin-right:8px !important;
}
.accountmenu {
  right:0;
}
ul.iconmenu li a, ul.iconmenu li span {
  float:left;
}
ul.iconmenu li .encaps_fav {
  width:20px;
}
ul.iconmenu li .favorites-message {
  display:none;
}