#menubox, #searchdiv table, #body {
  max-width:660px;
  width:100%;
}
#body {
  max-width: 652px;
  float: none;
  margin: 0 auto;
  display: block;
  overflow:hidden !important;
  width:auto !important;
}

.version-pop:hover ul {
  visibility: visible;
}


#content .content {
  /*
  padding-left:110px;
  max-width:550px;*/
  float:none;
  margin:0 auto;
  clear:both;
}
#content .content > h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  /*
  margin-left:-110px !important;
  padding-right:150px;*/
  border-bottom: 1px solid #ccc;
  margin-bottom: 7px;
  color:#444;
}
#search_box {
  margin:0 !important;
  padding-right:8px !important;
}
#account {
  margin-right:8px !important;
}
.accountmenu {
  right:0;
}
ul.iconmenu li a, ul.iconmenu li span {
  float:left;
}
ul.iconmenu li .encaps_fav {
  width:20px;
}
ul.iconmenu li .favorites-message {
  display:none;
}