.classpath
.gradle
.idea
.project
.settings
*/build
out/
*/bin/
*.egg
*.egg-info/
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.sublime-*
.cache/
.coverage
.env
.idea/
.tox*
.venv*
/*/*pinned.txt
/*/MANIFEST
/*/activate
/*/build/
/*/config
/*/coverage.xml
/*/dist/
/*/htmlcov/
/*/product-spec.json
/build/
/config/
/dist/
/target/
TEST-*.xml
