{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}
{% block header %}{{ super() }}{% endblock %}
{% block content %}
<h2 class="text-center">Team Members</h2>

<ul class="list-inline" id="team">
  <li>
    <a href="#alejandro" data-toggle="collapse" aria-expanded="false" aria-controls="alejandro">
      Alejandro Suazo
    </a>
  </li>
  <li>
    <a href="#dakota" data-toggle="collapse" aria-expanded="false" aria-controls="dakota">
      Dakota Smith
    </a>
  </li>
  <li>
    <a href="#denishkumar" data-toggle="collapse" aria-expanded="false" aria-controls="denishkumar">
      Denishkumar Patel
    </a>
  </li>
  <li>
    <a href="#dimas" data-toggle="collapse" aria-expanded="false" aria-controls="dimas">
      Dimas Gonzales
    </a>
  </li>
  <li>
    <a href="#matthew" data-toggle="collapse" aria-expanded="false" aria-controls="matthew">
      Matthew Zauber
    </a>
  </li>
  <li>
    <a href="#ovidio" data-toggle="collapse" aria-expanded="false" aria-controls="ovidio">
      Ovidio Henriquez
    </a>
  </li>
</ul>

<div class="collapse" id="alejandro">
  <div class="well">
    Alejandro Suazo is a senior Computer Engineering major at Texas A&amp;M
    University from Houston, Texas. Alejandro has worked in a variety of areas
    including embedded system development, mobile development, full-stack web
    development, and other relevant areas in regards to this project. Throughout
    his academic career, he’s focused primarily on software engineering,
    software optimization, and software design to facilitate the project
    management aspects of his projects and looks forward to getting an MBA after
    graduating.
  </div>
</div>

<div class="collapse" id="dakota">
  <div class="well">
    Dakota Smith is a senior Computer Engineering major in the Computer Science
    track at Texas A&amp;M University from Clyde, Texas. His undergraduate
    studies have emphasized software development, algorithms, networking, and
    cryptography. He plans to graduate in the spring of 2017 and work in the
    computer industry.
  </div>
</div>

<div class="collapse" id="denishkumar">
  <div class="well">
    Denishkumar Patel is a senior Computer Engineering Major at Texas A&amp;M
    University from Dallas,TX. He has taken classes related to Software Systems,
    communications and security, and AI/Robotics. He is currently planning on
    starting his Masters in Computer Science degree starting in Fall 2017. He
    likes to work on challenging things.
  </div>
</div>

<div class="collapse" id="dimas">
  <div class="well">
    Dimas Gonzales is a senior Computer Engineering major at Texas A&amp;M
    University from Houston, Texas. Dimas has spent the last three years working
    in industry to hone his craft and gain experience prior to graduation. These
    experiences have enabled his proficiency in full-stack web development and
    machine learning. Additionally, Dimas has focused his academic studies in
    data analytics which include both statistics and machine learning. Dimas
    looks forward to continuing his education and mathematical background by
    getting Masters in Statistics after graduation.
  </div>
</div>

<div class="collapse" id="matthew">
  <div class="well">
    Matthew Zauber is a senior Computer Engineering Major at Texas A&amp;M
    University from Dallas, Texas. Throughout his undergraduate studies, he has
    focused on courses pertaining to computer networks, cryptography, and large
    scale software development. Matt has also been a Chairperson for Fish Camp
    and a member of the Student Engineers’ Council during his time at Texas
    A&amp;M. He intends to work as a software developer, specializing in
    Artificial Intelligence, after he graduates.
  </div>
</div>

<div class="collapse" id="ovidio">
  <div class="well">
    Ovidio Henriquez is a senior Computer Engineering major at Texas A&amp;M
    University from Houston, Texas. Ovidio has gained experience in web
    development technologies during the three internships that he has had
    throughout his college career. During his undergraduate studies, he has
    taken courses in game development, artificial intelligence, operating
    systems, and computer graphics in addition to the required courses in the
    degree plan.
  </div>
</div>

<h2 class="text-center">Project Summary</h2>
<p class='text-justify'>The project aims to provide a tool to identify the species of a plant by
  taking a picture of the plant’s leaves. The purpose for the tool is to
  facilitate the task of identifying plants for experts and non-experts. In
  order to identify the species of a plant, there are many factors that need to
  be taken into account. It is necessary to look at the different dimensions and
  shapes of the plant’s organs, such as the leaf, flower, and fruit. Thus, it is
  very difficult for an untrained person to be able to accurately discern the
  species of a plant, and even experts may incorrectly identify plants.
  Additionally, the number of plant taxonomy experts globally has been
  decreasing due to insufficient funding.</p>
<p class='text-justify'>Therefore our goal is to create an application that can allow a user to
  capture an image of a plant that they want to identify, and it will yield the
  correct species of the plant with a high accuracy rate. This project will be
  useful for biologists, agriculturists, and any other fields who work directly
  with plant life because there is a need for an easy method to identify plants.
  In order to meet this need, the project will be built for an Android
  smartphone or tablet for portability and for access to a camera. The project
  will use machine learning to train the models for identifying plants in order
  to reach an identification accuracy of 80%. To ensure that the time period
  between submitting the image for identification and receiving the results
  is no longer than 10 seconds, the trained model will be installed on the
  device so that the search can be performed locally. There will also be a web
  server that will contain a REST API for performing the training functions on
  the model to allow the model to learn to recognize new plants.</p>
<p class='text-justify'>The design for the project is separated into two portions, the front-end and
  the back-end. The front-end of the design involves the Android application and
  the user interface. The Android application will use the hardware’s camera to
  capture an image of a plant that the user wants to identify. It will then use
  the already trained model that was generated and uploaded to the device to
  search for the species of the plant. The back-end of the design is the server
  that will receive the new training data from the administrators so that the
  search capability is expanded. The server will consist of a web server and the
  TensorFlow model that will be trained using a plant image database beforehand.
  The web server portion will have a REST API defined for receiving bulk
  labelled image samples and for transmitting trained TensorFlow model. The
  server will store both the images and the TensorFlow models in a hierarchical
  file structure.</p>
<p class='text-justify'>This project will greatly benefit the biology, agriculture, and nature
  conservation fields because it will allow them to easily and quickly identify
  a plant without needing to purchase specialized hardware. It will help these
  fields to study plants more efficiently, to ensure biodiversity in a region,
  and to fight off invasive species of plants. Additionally, it can serve as an
  educational tool for people interested in learning about the plants native to
  their regions.</p>

<h2 class="text-center">Site Links</h2>
<ul class="list-inline">
  <li><a href="/images">Upload a new image</a></li>
  <li><a href="/images/search">Search image database</a></li>
</ul>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
