{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}
{% block header %}{{ super() }}{% endblock %}
{% block content %}
<h2 class="text-center">Team Members</h2>
<ul class="list-inline">
  <li>Alejandro Suazo</li>
  <li>Dakota Smith</li>
  <li>Denishkumar Patel</li>
  <li>Dimas Gonzales</li>
  <li>Matthew Zauber</li>
  <li>Ovidio Henriquez</li>
</ul>
<h2 class="text-center">Project Summary</h2>
<p class='text-justify'>The project aims to provide a tool to identify the species of a plant by
  taking a picture of the plant’s leaves. The purpose for the tool is to
  facilitate the task of identifying plants for experts and non-experts. In
  order to identify the species of a plant, there are many factors that need to
  be taken into account. It is necessary to look at the different dimensions and
  shapes of the plant’s organs, such as the leaf, flower, and fruit. Thus, it is
  very difficult for an untrained person to be able to accurately discern the
  species of a plant, and even experts may incorrectly identify plants.
  Additionally, the number of plant taxonomy experts globally has been
  decreasing due to insufficient funding.</p>
<p class='text-justify'>Therefore our goal is to create an application that can allow a user to
  capture an image of a plant that they want to identify, and it will yield the
  correct species of the plant with a high accuracy rate. This project will be
  useful for biologists, agriculturists, and any other fields who work directly
  with plant life because there is a need for an easy method to identify plants.
  In order to meet this need, the project will be built for an Android
  smartphone or tablet for portability and for access to a camera. The project
  will use machine learning to train the models for identifying plants in order
  to reach an identification accuracy of 80%. To ensure that the time period
  between submitting the image for identification and receiving the results
  is no longer than 10 seconds, the trained model will be installed on the
  device so that the search can be performed locally. There will also be a web
  server that will contain a REST API for performing the training functions on
  the model to allow the model to learn to recognize new plants.</p>
<p class='text-justify'>The design for the project is separated into two portions, the front-end and
  the back-end. The front-end of the design involves the Android application and
  the user interface. The Android application will use the hardware’s camera to
  capture an image of a plant that the user wants to identify. It will then use
  the already trained model that was generated and uploaded to the device to
  search for the species of the plant. The back-end of the design is the server
  that will receive the new training data from the administrators so that the
  search capability is expanded. The server will consist of a web server and the
  TensorFlow model that will be trained using a plant image database beforehand.
  The web server portion will have a REST API defined for receiving bulk
  labelled image samples and for transmitting trained TensorFlow model. The
  server will store both the images and the TensorFlow models in a hierarchical
  file structure.</p>
<p class='text-justify'>This project will greatly benefit the biology, agriculture, and nature
  conservation fields because it will allow them to easily and quickly identify
  a plant without needing to purchase specialized hardware. It will help these
  fields to study plants more efficiently, to ensure biodiversity in a region,
  and to fight off invasive species of plants. Additionally, it can serve as an
  educational tool for people interested in learning about the plants native to
  their regions.</p>

<h2 class="text-center">Site Links</h2>
<ul class="list-inline">
  <li><a href="/images">Upload a new image</a></li>
  <li><a href="/images/search">Search image database</a></li>
</ul>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
