<!DOCTYPE html>
<html>
<head>
  <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="../../web-component-tester/browser.js"></script>
    <link rel="import" href="../../tf-imports/d3.html">
    <link rel="import" href="../tf-image-dashboard.html">
    <link rel="stylesheet" type="text/css" href="../../../lib/css/global.css">
</head>
<body>
  <test-fixture id="testElementFixture">
    <template>
      <tf-image-dashboard></tf-image-dashboard>
    </template>
  </test-fixture>
  <script src="imageDashboardTests.js"></script>
</body>
</html>
