<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
  <script src="../../web-component-tester/browser.js"></script>
  <link rel="import" href="../../polymer/polymer.html">
  <link rel="import" href="../tf-image-grid.html">
</head>
<body>
    <test-fixture id="imageGridFixture">
      <template>
        <tf-image-grid id="test"></tf-image-grid>
      </template>
    </test-fixture>

    <script>
      var assert = chai.assert;
      describe("tf-image-grid", function() {
        var imageGrid;
        var runToImages = {
          'run1': ['_', 'foo', 'zzx', '99', 'a', 'aaa', 'azx'],
          'aaa': ['a', 'ba', 'ab', 'z'],
          'zzz': ['aaa', 'zqx', 'xzx'],
        };
        beforeEach(function() {
          imageGrid = fixture("imageGridFixture")
        });
        it("sorts tags", function() {
          imageGrid.runToImages = runToImages;
          assert.deepEqual(imageGrid._tags, ["99", "_", "a", "aaa", "ab", "azx", "ba", "foo", "xzx", "z", "zqx", "zzx"]);
        });
        it("sorts runs", function() {
          imageGrid.runToImages = runToImages;
          assert.deepEqual(imageGrid._runs, ['aaa', 'run1', 'zzz']);
        });
      });
    </script>
</body>
</html>
