.DS_Store
/.build
/Packages
/Build
/build

*.o
*.d
*.dylib
*.swiftmodule
*.framework
*.xctest
.#*

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa

.DS_Store